
.product-card-wrapper{
  text-align: center;

  &__buttons-container{
    display: flex;
    justify-content: center;

  }
  &__product-card{

    &__stock-warning{
      font-size: 14px;
      color: #de7474;
    }
  }

}

