
<p-card header="Advanced Card" subheader="price : {{product.ProductPrice}}" [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
      <img alt="{{product.ProductName}}" src="{{product.ProductImg}}" />
  </ng-template>
  <h3>
    {{product.ProductName}}
  </h3>
  <p>
   Available pieces: {{product.AvailablePieces}}
  </p>
  <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
          <p-button label="Save" class="w-full" styleClass="w-full" />
      </div>
  </ng-template>
</p-card>
